{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "strict": 0
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "settings": {},
  "env": {
    "es6": true,
    "mongo": true,
    "node": true
  }
}
